html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #f0f8ffd5;
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #e2e9f0d5;
    padding: 10px;
    text-align: center;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-radius: 10px;
    margin: auto;
    max-width: 1000px;
    box-shadow: 13px 13px 28px -4px #000000;
    text-shadow: 1px 1px 2px rgba(66, 68, 90, 1);
    letter-spacing: 2px;
}

.nav {
    background-color: #e2e9f0;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-radius: 10px;
    box-shadow: 13px 13px 28px -4px #000000;
    max-width: 1000px;
    margin: 40px auto;
    padding: 10px;
    position: sticky;
    top: 10px;
    font-size: 14px;
}

.article {
    background-color: #e2e9f0d5;
    max-width: 1000px;
    margin: 20px auto;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-radius: 10px;
    box-shadow: 13px 13px 28px -4px #000000;
    padding: 10px;
}

.footer {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-bottom: 1px rgb(0, 0, 0) solid;
}

.nav__rowLeft {
    display: inline-block;
    margin-left: 25px;
    padding: 3px;
}

.nav__row {
    display: inline-block;
    margin: 0 3px;
    padding: 3px;
    border-left: 1px black solid;
    padding-left: 10px;
}

.body--dark {
    background-color: #353536;
    color: white;
}

.header--dark {
    background-color: #222424;
}

.nav--dark {
    background-color: #222424;
    color: white;
}

.article--dark {
    background-color: #222424;
}

.header__header--red {
    color: rgb(255, 0, 0);
}

.header__header--green {
    color: rgb(3, 179, 3);
}

.header__header--blue {
    color: rgb(45, 0, 248);
}

.header__button {
    width: 95px;
    height: 25px;
    margin: -5px 15px;
}

.section__title {
    text-align: center;
}

.section__titleFirst {
    margin-left: 96px;
}